@using MyWebApplication.Models
@model ChatModel
<div id="Users">
    <p><b>В Чате онлайн: @Model.Users.Count</b></p>
    @foreach (ChatUser user in Model.Users)
    {
<p>@user.Name</p>
    }
</div>
<textarea id="Messages" style="height: 150px; width: 300px" >
     
        @foreach (ChatMessage msg in Model.Messages)
        {
            
                @msg.Date 
                 if (msg.User != null)
                {
                     @(msg.User.Name + ":")  @msg.Text
                }
                else
                {
                      @msg.Text 
                }
           
        }
     
</textarea>